<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paciente</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
  </head>
  <body *ngIf="!changeEditContactPage">
    <!-- Header for any of the views -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center" style="font-size: 28px; font-weight: bold;" id="pageName">
            {{ pageName }}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>
    </div>
    <!-- /Header for any of the views -->

    <!-- Form for show patient informatios -->
    <div class="container register" id="container">
      <div class="row">
        <!-- First column -->
        <div class="col-md-3">
          <div>
            <img
              src="https://cdn4.iconfinder.com/data/icons/medical-14/512/8-512.png"
              class="col-md-12"
              id="image1"
            />
          </div>
          <br />
          <br />
          <div>
            <button
              type="button"
              class="btn btn-info col-md-12"
              (click)="changeEditPage()"
            >
              Editar
            </button>
          </div>
          <br />
          <div>
            <button type="button" class="btn btn-danger col-md-12" (click)="deleteContact()">
              Eliminar
            </button>
          </div>
        </div>
        <!-- /First column -->

        <!-- Second column -->
        <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <br />
              <div class="row register-form">
                <!-- First internal column -->
                <div class="col-md-5" id="dataContainer">
                  <div class="form-group">
                    <h2>Nombre</h2>
                    <h3>{{ contact.name }} {{ contact.lastName }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Número de identificación</h2>
                    <h3>{{ contact.dni }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Edad</h2>
                    <h3>{{ contact.age }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Email</h2>
                    <h3>{{ contact.email }}</h3>
                  </div>
                  <div class="form-group"></div>
                </div>
                <!-- /First internal column -->

                <div class="col-md-1"></div>

                <!-- Second internal column -->
                <div
                  class="col-md-5"
                  id="dataContainer"
                  style="padding-left: 10px;"
                >
                  <div class="form-group">
                    <h2>País de Procedencia</h2>
                    <h3>{{ contact.country }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Región</h2>
                    <h3>{{ contact.region }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Dirección</h2>
                    <h3>{{ contact.address }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Patologías</h2>
                    <div class="scrollbar" id="style-1">
                      <table class="table table-hover" data-sort-order="desc">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let pathology of pathologysList">
                            <td class="align-middle">
                              {{ pathology.name }}
                            </td>
                            <td class="align-middle">
                              {{ pathology.description }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- /Second internal column -->
              </div>
              <br />
            </div>
          </div>
        </div>
        <!-- /Second column -->
      </div>
    </div>
    <!-- /Form for show patient informatios -->

    <br />
  </body>

  <body *ngIf="changeEditContactPage">
    <!-- Header for any of the views -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center" style="font-size: 28px; font-weight: bold;" id="pageName">
            {{ pageName }}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>
    </div>
    <!-- Header for any of the views -->

    <!-- Contact Table -->
    <div class="container register" id="container">
      <div class="row">
        <!-- First column  -->
        <div class="col-md-3">
              <!-- Image  -->
              <div>
                <img
                  src="https://cdn2.iconfinder.com/data/icons/corona-virus-covid-19-15/512/10_health_chart_patient_chart_report-512.png"
                  id="image1"
                  class="col-md-12"
                />
              </div>
              <!-- /Image  -->

              <!-- Add to the list button   -->
              <div id="button3" class="text-center">
                <button
                  type="button"
                  class="btn btn-success col-md-8"
                  [disabled]="
                    !(
                      name.valid &&
                      LastName.valid &&
                      email.valid &&
                      direction.valid
                    )
                  "
                  (click)="
                  pathcContact(
                      name.value,
                      LastName.value,
                      email.value,
                      direction.value
                    )
                  "
                >
                  Guardar
                </button>
              </div>
              <!-- /Add to the list button   -->
        </div>
        <!-- /First column  -->

        <!-- Second column  -->
        <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <br />
              <div class="row register-form">
                <!-- First information column  -->
                <div class="col-md-5" id="dataContainer">
                  <!-- Name input  -->
                  <div class="form-group">
                    <h2>Nombre</h2>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nombre *"
                      required
                      name="name"
                      ngModel
                      [(ngModel)]="contact.name"
                      #name="ngModel"
                      id="startDate"
                    />
                    <div
                      class="alert alert-danger"
                      *ngIf="name.touched && !name.valid"
                    >
                      Debe ingresar un nombre válido.
                    </div>
                  </div>
                  <!-- /Name input  -->

                  <!-- Last Name input  -->
                  <div class="form-group">
                    <h2>Apellidos</h2>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Apellidos *"
                      required
                      LastName="LastName"
                      ngModel
                      [(ngModel)]="contact.lastName"
                      #LastName="ngModel"
                      id="LastName"
                    />
                    <div
                      class="alert alert-danger"
                      *ngIf="LastName.touched && !LastName.valid"
                    >
                      Debe ingresar un apellido válido.
                    </div>
                  </div>
                  <!-- /Last Name input  -->

                  <!-- Dni input  -->
                  <div class="form-group">
                    <h2>Número de identificación</h2>
                    <input
                      required
                      ngModel
                      [(ngModel)]="contact.dni"
                      name="dni"
                      #dni="ngModel"
                      type="text"
                      class="form-control"
                      id="dni"
                      disabled
                    />
                  </div>
                  <!-- /Dni input  -->

                  <!-- Born input  -->
                  <div class="form-group">
                    <h2>Edad</h2>
                    <div class="form-group">
                      <input
                        required
                        type="text"
                        name="startDate"
                        ngModel
                        [(ngModel)]="contact.age"
                        #startDate="ngModel"
                        class="form-control"
                        id="startDate"
                        disabled
                      />
                    </div>
                  </div>
                  <!-- Born input  -->

                  <!-- Email input  -->
                  <div class="form-group">
                    <h2>Correo electrónico</h2>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Correo electrónico *"
                      required
                      email="email"
                      ngModel
                      [(ngModel)]="contact.email"
                      #email="ngModel"
                      id="email"
                    />
                    <div
                      class="alert alert-danger"
                      *ngIf="email.touched && !email.valid"
                    >
                      Debe ingresar un correo válido.
                    </div>
                  </div>
                  <!-- /Email input  -->
                  <div class="form-group"></div>
                </div>
                <!-- /First information column  -->

                <div class="col-md-1"></div>

                <!-- Second information column  -->
                <div class="col-md-5" id="dataContainer">
                  <!-- Country input  -->
                  <div class="form-group">
                    <h2>País de origen</h2>
                    <input
                      id="inputContry"
                      class="form-control"
                      inputContry="inputContry"
                      ngModel
                      [(ngModel)]="contact.country"
                      #inputContry="ngModel"
                      disabled
                    >
                  </div>
                  <!-- /Country input  -->

                  <!-- Region input  -->
                  <div class="form-group">
                    <h2>Región</h2>
                    <input
                      id="inputContry"
                      class="form-control"
                      inputContry="inputContry"
                      ngModel
                      [(ngModel)]="contact.region"
                      #inputContry="ngModel"
                      disabled
                    >
                  </div>
                  <!-- /Region input  -->

                  <!-- Adress input  -->
                  <div class="form-group">
                    <h2>Dirección</h2>
                    <textarea
                      type="textarea"
                      class="form-control"
                      placeholder="Dirección *"
                      required
                      direction="direction"
                      ngModel
                      [(ngModel)]="contact.address"
                      #direction="ngModel"
                      id="direction"
                    ></textarea>
                    <div
                      class="alert alert-danger"
                      *ngIf="direction.touched && !direction.valid"
                    >
                      Debe ingresar una dirección válida.
                    </div>
                  </div>
                  <!-- Adress input  -->

                  <!-- Pathology Tables inputs  -->
                  <div class="form-group">
                    <h2>Patologías</h2>
                    <select
                      id="inputState"
                      class="form-control"
                      multiple="true"
                    >
                      <option
                        *ngFor="let pathology of pathologys"
                        (click)="getPathologyValue(pathology)"
                      >
                        {{ pathology.name }}
                      </option>
                    </select>
                    <div class="scrollbar" id="style-1">
                      <table
                        class="table table-hover text-center"
                        data-sort-order="desc"
                      >
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            class="align-middle"
                            *ngFor="let pathology of pathologysList"
                          >
                            <td
                              class="align-middle"
                              (click)="deletePathology(pathology)"
                            >
                              {{ pathology.name }}
                            </td>
                            <td
                              class="align-middle"
                              (click)="deletePathology(pathology)"
                            >
                              {{ pathology.description }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Pathology Tables inputs  -->
                </div>
                <!-- /Second information column  -->
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Second column  -->
      </div>
      <br>
    </div>
    <br /><br />
  </body>
</html>
