<ion-content>
  <div>
    <ion-button routerLink="/home">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <h3>Management of te last contact per patient</h3>
    <div class="buttons">
      <ion-button>Agregar</ion-button>
      <ion-button>Eliminar</ion-button>
      <ion-button>Editar</ion-button>
    </div>
    <div class="table">
      <ion-grid>
        <ion-row class="titles">
          <ion-col size="4">
            <ion-text>Name</ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text>LastName</ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text>Id</ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of listPatients1">
          <ion-col size="4">
            <ion-text>{{item.Name}}</ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text>{{item.LastName}}</ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text>{{item.Id}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class="titles">
          <ion-col size="5">
            <ion-text>Direction</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-text>Age</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text>email</ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of listPatients1">
          <ion-col size="5">
            <ion-text>{{item.Direction}}</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-text>{{item.Age}}</ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text>{{item.email}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class="titles">
          <ion-col size="6">
            <ion-text>Pathology</ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text>Nationality</ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of listPatients1">
          <ion-col size="6">
            <ul *ngFor="let patology of item.Pathology">
              <li>{{patology}}</li>
            </ul>
          </ion-col>
          <ion-col size="6">
            <ion-text>{{item.Nationality}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>