<div class="PrincipalContainer">
    <div class="imageDiv">
        <h4>Hospital Center Management</h4>
        <div class="buttons">
            <button mat-raised-button (click)="openDialog('add')">Add</button>
            <button mat-raised-button [disabled]="!enableChange" (click)="deleteSelected()">Eliminar</button>
            <button mat-raised-button [disabled]="!enableChange" (click)="openDialogToEdit()">Edit</button>
        </div>
        <div class="container">
                <ngx-datatable class="material" #mydatatable [rows]="rowsS" [columns]="columnsS"
                    [selectionType]="SelectionType.single" [selected]="selected" columnMode="ColumnMode.force"
                    [headerHeight]="40" [rowHeight]="30" [footerHeight]="40" (select)="onSelect($event,'State')">
                </ngx-datatable>
               
        </div>
    </div>
</div>