ion-content {
    padding: 0px;
    div {
        background: url(/assets/img/backgroundSingIn.png);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .invalid {
            size: 80%;
            border: 1px solid #ea6153;
            border-radius: 20px;
        }
        form {
            p {
                margin: 2px;
                font-size: 10px;
                color: white;
            }
            ion-input {
                border: 1px solid white;
                margin-top: 10px;
                margin-bottom: 10px;
                --placeholder-color:white;
                --color: white;
            }
        }

        ion-button {
            margin-top: 20px;
            --background: #47525E;
            --color: white;
        }
    }
}
