
<ion-content>
  <div>
    <form [formGroup]="ComponentLoginForm">
      <ion-input clearInput=true formControlName="email" type="email" placeholder="Email"
        [ngClass]="{ 'invalid': invalidEmail }"></ion-input>
      <p *ngIf='!ComponentLoginForm.controls.email.valid'>Enter a valid email.</p>
      <ion-input clearInput=true formControlName="password" type="password" placeholder="Password" required="true"
        [ngClass]="{ 'invalid': invalidPassword }"></ion-input>
      <p *ngIf='!ComponentLoginForm.controls.password.valid'>Enter a password</p>
    </form>
    <ion-row style="text-align: center">
      <ion-button [disabled]="!ComponentLoginForm.valid" size="default" (click)="summit()">LogIn
      </ion-button>
    </ion-row>
  </div>
</ion-content>