<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Pacientes</title>
  </head>
  <body>
    <!-- Header for any of the views -->
    <div *ngIf="!changePatientPage">
      <div class="container mt-4">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center" style="font-size: 28px; font-weight: bold;" id="pageName">
              {{ pageName }}
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr />
          </div>
        </div>
      </div>
      <!-- /Header for any of the views -->

      <!-- List of Patients-->
      <div class="container">
        <!-- Table Patient Header -->
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar">
              <div class="col-md-2">
                <button
                  type="button"
                  class="btn"
                  onclick="location.href='hospitalCenter'"
                >
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMrdnsfFgbp8dHFH5OcCaaFnVg4CEmabhtppXvwBz8B92OP9I3&usqp=CAU"
                    alt="return-button"
                    width="22"
                  />
                </button>
              </div>
              <ul class="navbar-nav mr-auto"></ul>
              <form class="form-inline my-2 my-lg-0">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Buscar"
                  aria-label="Search"
                />
                <button
                  class="btn btn-success my-2 my-sm-0"
                  type="submit"
                  routerLink="/login"
                  routerLinkActive="active"
                >
                  Buscar
                </button>
              </form>
            </nav>
          </div>
        </div>
        <!-- /Table Patient Header -->

        <!-- Patient Table -->
        <div class="row">
          <div class="col-md-12">
            <div class="scrollbar" id="style-1">
              <table class="table table-hover" data-sort-order="desc">
                <thead>
                  <tr>
                    <th scope="col">Identificación</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let patient of patients">
                    <td class="align-middle" (click)="changePage(patient.dni)">
                      {{ patient.dni }}
                    </td>
                    <td class="align-middle" (click)="changePage(patient.dni)">
                      {{ patient.name }}
                    </td>
                    <td class="align-middle" (click)="changePage(patient.dni)">
                      {{ patient.lastName }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /Patient Table -->

        <!-- Add Patient Button -->
        <div class="row">
          <div
            class="col-md-12 text-center"
            style="padding-bottom: 50px; padding-top: 10px;"
          >
            <button
              type="button"
              class="btn btn-light"
              id="button1"
              (click)="passHospitalId()"
            >
              <img
                src="https://cdn0.iconfinder.com/data/icons/glyphpack/72/user-add-512.png"
                alt="button1"
                id="image1"
              />
              <div class="card-inner"></div>
            </button>
          </div>
        </div>
        <!-- /Add Patient Button -->
      </div>
      <!-- /List of Patients -->
    </div>
    <br>
    <!-- Roud for patient management -->
    <div *ngIf="changePatientPage">
      <app-patient-management
        [dniPatient]="dniPatient"
      ></app-patient-management>
    </div>
    <!-- /Roud for patient management -->
  </body>
</html>
