<div class="PrincipalContainer">
    <div class="imageDiv">
        <h4>Regions Management</h4>
        <div class="buttons">
            <button mat-raised-button (click)="openDialog('add')">Add</button>
            <button mat-raised-button [disabled]="!enableChange" (click)="deleteSelected()">Eliminar</button>
        </div>
        <div class="container">
            <div class="tables">
                <h2>Country</h2>
                <ngx-datatable class="material" #mydatatable [rows]="rowsR" [columns]="columnsR"
                [selectionType]="SelectionType.single" [selected]="selected" columnMode="ColumnMode.force"
                [headerHeight]="40" [rowHeight]="30" [footerHeight]="40" (select)="onSelect($event,'Region')">
            </ngx-datatable>
            </div>
            <div class="tables">
                <h2>Regions</h2>
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label>Select a Country</mat-label>
                      <mat-select [(ngModel)]="countrySelected" name="food" (focus)="selectCountry($event)">
                        <mat-option *ngFor="let country of rowsR" [value]="country.code">
                          {{country.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>                  
                <ngx-datatable class="material" #mydatatable [rows]="rowsP" [columns]="columnsP"
                    [selectionType]="SelectionType.single" [selected]="selected" columnMode="ColumnMode.force"
                    [headerHeight]="40" [rowHeight]="30" [footerHeight]="40" (select)="onSelect($event,'Province')">
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>