<div class="PrincipalContainer">
    <div class="imageDiv">
        <h4>Health Measure Management</h4>
        <div class="buttons">
            <button mat-raised-button (click)="openDialog('add')">Add</button>
            <button mat-raised-button [disabled]="!enableChange" *ngIf="generalView" (click)="deleteSelected()">Eliminar</button>
            <button mat-raised-button [disabled]="!enableChange" *ngIf="!generalView" (click)="disableSelected()">Disable</button>
            <button mat-raised-button [disabled]="!enableChange" *ngIf="generalView"  (click)="openDialogToEdit()">Edit</button>
        </div>
        <div class="container">
                <form *ngIf="!generalView">
                    <mat-form-field appearance="fill">
                      <mat-label>Select a Country</mat-label>
                      <mat-select [(ngModel)]="countrySelected" name="food" (focus)="selectCountry($event)">
                        <mat-option *ngFor="let country of countries" [value]="country.code">
                          {{country.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>  
                <ngx-datatable class="material" #mydatatable [rows]="rowsS" [columns]="columnsS" *ngIf="countrySelected"
                    [selectionType]="SelectionType.single" [selected]="selected" columnMode="ColumnMode.force"
                    [headerHeight]="40" rowHeight="auto" [footerHeight]="40" (select)="onSelect($event,'State')">
                </ngx-datatable>
                <ngx-datatable class="material" #mydatatable [rows]="rowsG" [columns]="columnsG" *ngIf="generalView"
                [selectionType]="SelectionType.single" [selected]="selected" columnMode="ColumnMode.force"
                [headerHeight]="40" [rowHeight]="100" [footerHeight]="40" (select)="onSelect($event,'State')">
            </ngx-datatable>
        </div>
    </div>
</div>