<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administración</title>
  </head>
  <body>
    <!-- Header for any of the views -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center" style="font-size: 28px;" id="pageName">
            {{ pageName }}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>
    </div>
    <!-- /Header for any of the views -->

    <!-- Contact Table -->
    <div class="container register" id="container">
      <div class="row">
        <!-- First column  -->
        <div class="col-md-3">
          <!-- Image  -->
          <div>
            <img
              src="https://cdn2.iconfinder.com/data/icons/corona-virus-covid-19-15/512/10_health_chart_patient_chart_report-512.png"
              id="image1"
              class="col-md-12"
            />
          </div>
          <!-- /Image  -->

          <!-- Add to the list button   -->
          <div id="button3" class="text-center">
            <button
              (click)="
                pachtPatient(
                  dni.value,
                  name.value,
                  LastName.value,
                  customRadio.value,
                  customRadio2.value,
                  inputState.value
                )
              "
              type="button"
              class="btn btn-success col-md-8"
              [disabled]="
                !(
                  name.valid &&
                  LastName.valid
                )
              "
            >
              Guardar
            </button>
          </div>
          <!-- /Add to the list button   -->
        </div>
        <!-- /First column  -->

        <!-- Second column  -->
        <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <br />
              <div class="row register-form">
                <!-- First information column  -->
                <div class="col-md-5" id="dataContainer">
                  <!-- Name input  -->
                  <div class="form-group">
                    <h2>Nombre</h2>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nombre *"
                      required
                      name="name"
                      ngModel
                      #name="ngModel"
                      id="startDate"
                    />
                    <div
                      class="alert alert-danger"
                      *ngIf="name.touched && !name.valid"
                    >
                      Debe ingresar un nombre válido.
                    </div>
                  </div>
                  <!-- /Name input  -->

                  <!-- Last Name input  -->
                  <div class="form-group">
                    <h2>Apellido</h2>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Apellido *"
                      required
                      LastName="LastName"
                      ngModel
                      #LastName="ngModel"
                      id="LastName"
                    />
                    <div
                      class="alert alert-danger"
                      *ngIf="LastName.touched && !LastName.valid"
                    >
                      Debe ingresar un apellido.
                    </div>
                  </div>
                  <!-- /Last Name input  -->

                  <!-- Dni input  -->
                  <div class="form-group">
                    <h2>Identificación</h2>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Identificación *"
                      required
                      dni="dni"
                      [(ngModel)]="identificacion1"
                      ngModel
                      #dni="ngModel"
                      id="dni"
                      disabled
                    />
                  </div>
                  <!-- /Dni input  -->

                  <!-- State input  -->
                  <div class="form-group">
                    <h2>Estado</h2>
                    <select
                      id="inputState"
                      class="form-control"
                      required
                      name="inputState"
                      [(ngModel)] = "status"
                      ngModel
                      #inputState="ngModel"
                    >
                      <option *ngFor="let state of states" selected>{{
                        state
                      }}</option>
                    </select>
                  </div>
                  <!-- /State input  -->

                  <!-- Medication table select  -->
                  <div class="form-group">
                    <h2>Medicación</h2>
                    <select
                      id="inputState"
                      class="form-control"
                      multiple="true"
                    >
                      <option
                        *ngFor="let medicine of medication"
                        (click)="getMedicineValue(medicine)"
                      >
                        {{ medicine.medicationName }}
                      </option>
                    </select>
                    <div class="scrollbar" id="style-1">
                      <table
                        class="table table-hover text-center"
                        data-sort-order="desc"
                      >
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Casa</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            class="align-middle"
                            *ngFor="let medication of medicationList"
                          >
                            <td
                              class="align-middle"
                              (click)="deleteMedicine(medication)"
                            >
                              {{ medication.medicationName }}
                            </td>
                            <td class="align-middle">
                              {{ medication.pharmaCo }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- /Medication table select  -->
                  <div class="form-group"></div>
                </div>
                <!-- /First information column  -->

                <div class="col-md-1"></div>

                <!-- Second information column  -->
                <div class="col-md-5" id="dataContainer">
                  <!-- Born input  -->
                  <div class="form-group">
                    <h2>Edad</h2>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="age1"
                      required
                      age="age"
                      ngModel
                      #age="ngModel"
                      id="age"
                      disabled
                    />
                  </div>
                  <!-- Born input  -->

                  <!-- Country input  -->
                  <div class="form-group">
                    <h2>País</h2>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="País *"
                      required
                      country="country"
                      [(ngModel)]="country1"
                      ngModel
                      #country="ngModel"
                      id="country"
                      disabled
                    />
                  </div>
                  <!-- /Country input  -->

                  <!-- Region input  -->
                  <div class="form-group">
                    <h2>Región</h2>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Región *"
                      required
                      region="region"
                      [(ngModel)]="region1"
                      ngModel
                      #region="ngModel"
                      id="region"
                      disabled
                    />
                  </div>
                  <!-- /Region input  -->

                  <!-- Hospital internal state input  -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col">
                        <h2>Internado</h2>
                        <div class="form-check">
                          <input
                            type="checkbox"
                            class="form-check-input"
                            id="customRadio"
                            required
                            ngModel
                            #customRadio="ngModel"
                            [(ngModel)] ="valu"
                            checked
                          />
                          <label class="form-check-label" for="customRadio"
                            >Sí</label
                          >
                        </div>
                      </div>

                      <div class="col"></div>

                      <div class="col">
                        <h2>UCI</h2>
                        <div class="form-check">
                          <input
                            type="checkbox"
                            class="form-check-input"
                            id="customRadio2"
                            required
                            ngModel
                            #customRadio2="ngModel"
                            [(ngModel)] ="valu2"
                            checked
                          />
                          <label class="form-check-label" for="customRadio2"
                            >Sí</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Hospital internal state input  -->

                  <!-- Pathology Tables inputs  -->
                  <div class="form-group">
                    <h2>Patologías</h2>
                    <select
                      id="inputState"
                      class="form-control"
                      multiple="true"
                    >
                      <option
                        *ngFor="let pathology of pathologys"
                        (click)="getPathologyValue(pathology)"
                      >
                        {{ pathology.name }}
                      </option>
                    </select>
                    <div class="scrollbar" id="style-1">
                      <table
                        class="table table-hover text-center"
                        data-sort-order="desc"
                      >
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            class="align-middle"
                            *ngFor="let pathology of pathologysList"
                          >
                            <td
                              class="align-middle"
                              (click)="deletePathology(pathology)"
                            >
                              {{ pathology.name }}
                            </td>
                            <td class="align-middle">
                              {{ pathology.description }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- /Pathology Tables inputs  -->
                </div>
                <!-- /Second information column  -->
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Second column  -->
      </div>
      <br />
    </div>
    <br /><br /><br />
  </body>
</html>
