<div class="container-fluid">
    <h1>Gestor de administración</h1>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/imgs/region_Image.png" alt="Card image for the region">
            <div class="card-body">
                <p class="card-text">Regiones</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/imgs/patology_image.png" alt="Card image for the region">
            <div class="card-body">
                <p class="card-text">Patologías</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/imgs/pacient_Image.png" alt="Card image for the region">
            <div class="card-body">
                <p class="card-text">Estado de Pacientes</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/imgs/hospitals_Image.png" alt="Card image for the region">
            <div class="card-body">
                <p class="card-text">Centros Hospitalarios</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/imgs/sanitary.png" alt="Card image for the region">
            <div class="card-body">
                <p class="card-text">Medidas Sanitarias</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/imgs/sanitary_perContry.png" alt="Card image for the region">
            <div class="card-body">
                <p class="card-text">Medidas Sanitarias por Pais</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/imgs/medication_Images.png" alt="Card image for the region">
            <div class="card-body">
                <p class="card-text">Medicaciones</p>
            </div>
        </div>
    </div>
</div>