mat-sidenav-container {
    height: 100%;
    mat-sidenav {
        background: #435a74;
        color: #fff;
        padding: 20px;
        width: 25%;
        img {
            &.rounded-circle {
                height: 130px;
                width: 130px;
            }
        }
        button{
            color: white !important;
        }
    }
}
mat-sidenav-content {
    p {
        &.NavigationTitle {
            margin: 35px 10px 0px 30px;
            font-size: 20px;
            line-height: 25px;
            font-weight: 500;
            color: #343f4b;
        }
    }
    mat-grid-list {
        height: 100%;
        width: 100%;
        &.CardNavigation {
            margin: 0px 10px 15px 5px;
            mat-grid-tile {
                &.CardsDownload {
                    padding: 0px;
                    div.CardContainer {
                        div.CardSelection {
                            padding: 80px 20px 20px 20px;
                            background-color: #000742;
                            color: white;
                            font-size: 16px;
                            line-height: 25px;
                            font-weight: 500;
                            max-width: 250px;
                            height: 250px;
                            //margin-bottom: 30px;
                            img {
                                height: 40px;
                                width: 40px;
                            }
                            form {
                                margin-top: 15px;
                                mat-form-field {
                                    background: white;
                                    border-radius: 5px;
                                    padding: 10px;
                                }
                            }
                        }
                        div.DownloadCard {
                            max-width: 250px;
                            background-color: #13ce66;
                            height: 130px;
                            margin-top: 15px;
                            display: flex;
                            justify-content: center;
                            padding: 20px 10px 10px 10px;
                            img {
                                height: 40px;
                                width: 40px;
                            }
                            button{
                                background: gray;
                                mat-icon{
                                }
                            }
                           
                        }
                    }
                }
            }
        }
        &.SecondRow {
        }
    }
}
.card {
    min-height: 200px;
    max-height: 200px;
    width: 200px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    img {
        width: 50px;
        height: 50px;
        margin-left: 15px;
    }
}
