<div class="BigContainer">
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="assets/imgs/claudiaPoll.jpg" class="rounded-circle" alt="">
                <h3>Claudia Poll <br> <strong>Gerente CCSS</strong></h3>
                <button type="button" class="btn btn-outline-light text-dark">Light</button>
            </div>
        </nav>

    </div>
    <div id="content">
        <h2>Data Management Platform</h2>
        <div class="row">
            <div class="col-3">
                <div class="card" style="background-color: #FFDB02;">
                    <div class="card-body">
                      <div class="card-title">Regions  <img src="assets/imgs/regions_Image.png" alt=""></div>
                      <p class="card-text">Manage the regions of your country</p>
                    </div>
                  </div>
            </div>
            <div class="col-3">
                <div class="card" style="background-color: #F95F62;">
                <div class="card-body">
                  <div class="card-title">Hospital Center<img src="assets/imgs/hospital_Image.png" alt=""></div>
                  <p class="card-text">Manage the HC's of your country</p>
                </div>
              </div>
            </div>
            <div class="col-3">
                <div class="card" style="background-color: #00A6FF;">
                <div class="card-body">
                  <div class="card-title">Medications  <img src="assets/imgs/medication_Images.png" alt=""></div>
                  <p class="card-text">Medication management for the patients</p>
                </div>
              </div>
            </div>
            <div class="col-3">
                <div class="card" style="background-color: #13CE66;">
                <div class="card-body">
                  <div class="card-title">Pathologies <img src="assets/imgs/patology_image.png" alt=""></div>
                  <p class="card-text">Management of patient diseases</p>
                </div>
              </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-8">
                <h3>Patient Status Management</h3>
                <ngx-datatable  class="material" [rows]="rows" [columns]="columns"> </ngx-datatable>
            </div>
            <div class="col-4">
                <div class="card" style="background-color: #000742;">
                    <div class="card-body">
                      <div class="card-title">Pathologies <img src="assets/imgs/patology_image.png" alt=""></div>
                      <p class="card-text">Management of patient diseases</p>
                    </div>
                  </div>
                  <div class="card" style="background-color: #13CE66;">
                    <div class="card-body">
                      <div class="card-title">Pathologies <img src="assets/imgs/patology_image.png" alt=""></div>
                      <p class="card-text">Management of patient diseases</p>
                    </div>
                  </div>
            </div>
        </div> 
    </div>
</div>