<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paciente</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
  </head>
  <body *ngIf="!changeContactPage && !changeEditPatientPage && !changeContactInformation">
    <!-- Header for any of the views -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center" style="font-size: 28px; font-weight: bold;" id="pageName">
            {{ pageName }}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>
    </div>
    <!-- /Header for any of the views -->

    <!-- Form for show patient informatios -->
    <div class="container register" id="container">
      <div class="row">
        <!-- First column -->
        <div class="col-md-3">
          <div>
            <img
              src="https://cdn4.iconfinder.com/data/icons/medical-14/512/8-512.png"
              class="col-md-12"
              id="image1"
            />
          </div>
          <br />
          <br />
          <div>
            <button
              type="button"
              class="btn btn-info col-md-12"
              (click)="changeEditPage()"
            >
              Editar
            </button>
          </div>
          <br />
          <div>
            <button 
            type="button" 
            class="btn btn-danger col-md-12"
            (click)="deletePatient()"
            >
              Eliminar
            </button>
          </div>
        </div>
        <!-- /First column -->

        <!-- Second column -->
        <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <br />
              <div class="row register-form">
                <!-- First internal column -->
                <div class="col-md-5" id="dataContainer">
                  <div class="form-group">
                    <h2>Nombre</h2>
                    <h3>{{ patient.name }} {{ patient.lastName }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Número de identificación</h2>
                    <h3>{{ patient.dni }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Edad</h2>
                    <h3>{{ patient.age }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Estado</h2>
                    <h3>{{ patient.status }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Medicación</h2>
                    <div class="scrollbar" id="style-1">
                      <table class="table table-hover" data-sort-order="desc">
                        <thead>
                          <tr>
                            <th scope="col">Casa</th>
                            <th scope="col">Medicamento</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let medicine of medication">
                            <td class="align-middle">
                              {{ medicine.pharmaCo }}
                            </td>

                            <td class="align-middle">
                              {{ medicine.medicationName }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group"></div>
                </div>
                <!-- /First internal column -->

                <div class="col-md-1"></div>

                <!-- Second internal column -->
                <div
                  class="col-md-5"
                  id="dataContainer"
                  style="padding-left: 10px;"
                >
                  <div class="form-group">
                    <h2>País de prodecencia</h2>
                    <h3>{{ patient.country }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Región</h2>
                    <h3>{{ patient.region }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Internado</h2>
                    <h3>{{ patient.hospitalized }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Internado en UCI</h2>
                    <h3>{{ patient.icu }}</h3>
                  </div>
                  <div class="form-group">
                    <h2>Patologías</h2>
                    <div class="scrollbar" id="style-1">
                      <table class="table table-hover" data-sort-order="desc">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let type of pathology">
                            <td class="align-middle">
                              {{ type.name }}
                            </td>
                            <td class="align-middle">
                              {{ type.description }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- /Second internal column -->
              </div>
              <br>
            </div>
          </div>
        </div>
        <!-- /Second column -->
      </div>
    </div>
    <!-- /Form for show patient informatios -->

    <br />
    <br />

    <!-- Header for any of the views -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center" style="font-size: 28px; font-weight: bold;" id="pageName">
            Contactos
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>
    </div>
    <!-- /Header for any of the views -->

    <!-- Contact Table -->
    <div class="container register" id="container">
      <div class="row">
        <div class="col-md-12">
          <div class="scrollbar" id="style-2">
            <table class="table table-hover text-center" data-sort-order="desc">
              <thead>
                <tr>
                  <th scope="col">Identificación</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Correo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let contact of contacts">
                  <td class="align-middle" (click)="changeinformationContactPage(contact.dni)">
                    {{ contact.dni }}
                  </td>
                  <td class="align-middle" (click)="changeinformationContactPage(contact.dni)">
                    {{ contact.name }}
                  </td>
                  <td class="align-middle" (click)="changeinformationContactPage(contact.dni)">
                    {{ contact.lastName }}
                  </td>
                  <td class="align-middle" (click)="changeinformationContactPage(contact.dni)">
                    {{ contact.email }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /Contacts Table -->

    <br />

    <!-- Create contact button -->
    <div class="container register" id="buttonContainer">
      <div class="row">
        <div class="col-md-12 text-center">
          <button
            type="button"
            class="btn btn-light col-md-12"
            id="button1"
            (click)="changePage(patient.dni)"
          >
            <img
              src="https://cdn0.iconfinder.com/data/icons/glyphpack/72/user-add-512.png"
              alt="button1"
              id="image2"
            />
          </button>
        </div>
      </div>
    </div>
    <!-- /Create contact button -->

    <!-- /Contacts Table -->
    <br />
    <br />
  </body>

  <!-- Roud for the add contacts page -->
  <body *ngIf="changeContactPage">
    <div>
      <app-contacts [dniContact]="dniContact"></app-contacts>
    </div>
  </body>
  <!-- /Roud for the add contacts page -->

  <!-- Roud for edit patients page -->
  <body *ngIf="changeEditPatientPage">
    <div>
      <app-edit-patient [dniPatient]="dniPatient"></app-edit-patient>
    </div>
  </body>
  <!-- /Roud for edit patients page -->

  <!-- Roud for the contact information page -->
  <body *ngIf="changeContactInformation">
    <div>
      <app-edit-contact [dniContact]="dniContact"></app-edit-contact>
    </div>
  </body>
  <!-- /Roud for the add contacts information page -->
</html>
