#nav {
  background: black;
}

.page-footer {
  background: black;
}

.footer-copyright {
  color: white;
}

#btn1 {
  margin-right: 15px;
  margin-left: 15px;
}
#btn2 {
  margin-right: 15px;
  margin-left: 15px;
}
#btn3 {
  margin-right: 15px;
  margin-left: 15px;
}
#btn4 {
  margin-right: 15px;
  margin-left: 15px;
}
