
<div id="nav">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href=" ">CoTEC</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <button type="button" class="btn" onclick="location.href=' '">
        <img
        src="https://img.icons8.com/fluent/48/000000/home.png"
        class="img-responsive"
        alt="Responsive image"
        width="30"
        height="30"
        id="btn1"
      />
      </button>
      <button type="button" class="btn" onclick="location.href=' '">
        <img
        src="https://img.icons8.com/fluent/48/000000/globe-earth.png"
        class="img-responsive"
        alt="Responsive image"
        width="30"
        height="30"
        id="btn1"
      />
      </button>
      <button type="button" class="btn" onclick="location.href='admin'">
        <img
        src="https://img.icons8.com/cotton/64/000000/security-checked.png"
        class="img-responsive"
        alt="Responsive image"
        width="30"
        height="30"
        id="btn1"
      />
      </button>
      <button type="button" class="btn" onclick="location.href=' '">
        <img
        src="https://img.icons8.com/flat_round/64/000000/question-mark.png"
        class="img-responsive"
        alt="Responsive image"
        width="30"
        height="30"
        id="btn1"
      />
      </button>
    </div>
  </nav>
</div>

<!--./Navbar-->

<router-outlet></router-outlet>

<!--Footer-->
<footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">
  <hr class="my-4" />
  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2018 Copyright:
    <a href="https://github.com/estalvgs1999/CE3101-CoTEC-Map" target="_blank">
      CoTEC.com
    </a>
  </div> 
  <!--/Copyright-->
</footer>

<!--/Footer-->

