#nav {
  background: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

#btn1 {
  margin-right: 15px;
  margin-left: 15px;
}
#btn2 {
  margin-right: 15px;
  margin-left: 15px;
}
#btn3 {
  margin-right: 15px;
  margin-left: 15px;
}
#btn4 {
  margin-right: 15px;
  margin-left: 15px;
}
