<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card routerLink="/patients">
      <ion-card-header>
        <img src="assets/img/patients.jpg" alt="">
        <ion-card-title>Management of patients</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Management the information of the patients
      </ion-card-content>
    </ion-card>
    <ion-card routerLink="/last-contacts">
      <ion-card-header>
        <img src="assets/img/contact.jpg" alt="">
        <ion-card-title>Management of te last contact per patient</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Management the information of the last contacts a patient diagnosed with CoTEC-2020 has had in the last 14 days
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
