<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="editData" *ngIf="edit">
    <ion-item >
      <ion-label>Chose the person to edit</ion-label>
      <ion-select [(ngModel)]="userSelected" (ionChange)="userSelection($event)"  >
        <ion-select-option *ngFor="let user of users" >{{user.Id}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-grid>
      <ion-row  *ngFor="let key of keys">
        <ion-col>
          <ion-item>
            <ion-label>{{key}}</ion-label>
            <ion-input value="{{userData[key]}}"  (ionBlur)="getValues($event, key)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="addData" *ngIf="!edit">
    <ion-grid>
      <ion-row  *ngFor="let key of keys">
        <ion-col>
          <ion-item>
            <ion-label>{{key}}</ion-label>
            <ion-input (ionBlur)="getValues($event, key)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </div>
  <ion-button (click)="sendValues($event)">Send the data</ion-button>
</ion-content>

