body,
html {
  font-family: Roboto;
  height: 115%;
  background-repeat: no-repeat;
  background: url(https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80)
    no-repeat center center fixed;
  background-size: 100% 100%;
  padding-top: 1px;
}

#button1 {
  opacity: 0.8;
  border-radius: 10px;
  width: 65%;
}

#image1 {
  padding-top: 60px;
  height: 38%;
}

#container {
  background-color: white;
  border-radius: 100px;
  padding-bottom: 30px;
}

#dataContainer {
  border: 1px solid #C5CBCD  ;
  border-radius: 20px;
}

//Scroll

.scrollbar {
  overflow-y: scroll;
  overflow-x: scroll;
  box-sizing: content-box;
}

//Style of first scroll
#style-1 {
  height: 200px;
}

#style-1::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

#style-1::-webkit-scrollbar-thumb {
  background-color: #9b9ba1;
  border-radius: 30px;
}

//Style of first scroll
#style-2 {
  height: 200px;
}

#style-2::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

#style-2::-webkit-scrollbar-thumb {
  background-color: #9b9ba1;
  border-radius: 30px;
}

#button1 {
    
  opacity: 0.8;
  width: 100%;
  
}

#button3 {
    padding-top: 260px;
}

#image2 {
  width: 10%;
  height: 10%;
}

#buttonContainer {
  background-color: white;
  opacity: 0.8;
  border-radius: 20px;
}

